* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 500;
  font-family: "Public Sans", sans-serif;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

.btn-hover:hover {
  cursor: pointer;
}

.footer-menu-container .footer-menu > a:hover {
  cursor: pointer;
  color: var(--lime-green);
}

.social-handles .footer-icon:hover {
  filter: color(var(--lime-green));
  filter: invert(80%) sepia(7%) saturate(5881%) hue-rotate(75deg)
    brightness(94%) contrast(74%);
}

.content-hover:hover {
  cursor: pointer;
  color: var(--lime-green);
}

.nav-items > li:hover {
  cursor: pointer;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
/* for smartphone */
@media screen and (max-width: 500px) {
  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .navbar-menu > .nav-items {
    display: none;
  }

  .btn-request {
    display: none;
  }

  .section-1 {
    flex-direction: column;
    background-color: var(--very-light-gray);
    overflow: clip;
  }

  .phone-img {
    width: 100%;
    background-image: url("../images/bg-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -43%;
    /* or -193px */
  }

  .big-heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
  }

  .section-1-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 70px;
    /* marign padding */
  }

  .main-heading {
    text-align: center;
    font-size: 35px;
    /* marign padding */
    padding-bottom: 20px;
  }

  .content {
    /* marign padding */
    /* font-weight: 700; */
    color: var(--grayish-blue);
    line-height: 20px;
    text-align: center;
    align-self: center;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .request-btn {
    align-items: center;
    background-image: linear-gradient(hsl(192, 70%, 51%), hsl(136, 65%, 51%));
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    border: none;
  }

  .section2-mainheading {
    padding-top: 40px;
  }

  .section-2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: var(--light-grayish-blue);
  }

  .section2-innercontainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .container-img {
    width: 20%;
    align-self: center;
    padding-bottom: 20px;
  }

  .content-heading {
    /* font-size: 10px; */
    align-self: center;
    padding-bottom: 20px;
  }

  /* section 3 */

  .section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background-color: var(--very-light-gray);
  }

  .section3-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 50px; */
    background-color: var(--very-light-gray);
  }

  .section-3-heading {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .section3-img {
    width: 100%;
    /* padding-bottom: 50px; */
  }

  .section3-heading1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    color: var(--grayish-blue);
  }

  .section3-heading2 {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .section3-content {
    /* padding-top: 30px;
    padding-bottom: 40px; */
    /* align-self: center; */
    font-size: 15px;
    padding-bottom: 10px;
    color: var(--grayish-blue);
  }

  .section3-innercontainers {
    width: 80%;
    background-color: var(--white);
    margin-bottom: 50px;
    border-radius: 12px;
    overflow: hidden;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }

  .footer-menu > a {
    text-decoration: none;
    color: var(--grayish-blue);
    padding-bottom: 10px;
  }

  /* .footer-request-btn {
  } */

  .footer-btn {
    width: 60%;
    background-image: linear-gradient(hsl(192, 70%, 51%), hsl(136, 65%, 51%));
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    font-size: 20px;
    color: var(--white);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-logo {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .social-handles {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-menu-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-copyrightcontent {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-request-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-handles > .footer-icon {
    padding-right: 10px;
  }

  .footer-copyrightcontent {
    color: var(--grayish-blue);
  }
}

/* for desktop  */
@media (min-width: 500px) {
  .header {
    /* position: fixed; */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
  }

  .nav-items > li {
    margin-right: 20px;
  }
  .img-sidebtn {
    display: none;
  }

  .section-1 {
    display: flex;
    flex-direction: row;
    overflow: clip;
    justify-content: flex-end;
    background-color: var(--very-light-gray);
  }

  .flex-container {
    order: 0;
    display: flex;
    flex-direction: column;
    /* order:1; */
  }

  .section-1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    /* order:1; */
  }

  .section-1-img {
    order: 1;
  }

  .main-heading {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .content {
    /* padding-bottom: 20px; */
    line-height: 20px;
  }

  .flex-container .content {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 50px;
    color: var(--grayish-blue);
    width: 100%;
  }

  .request-btn {
    width: 40%;
    align-items: center;
    color: var(--white);
    background-image: linear-gradient(hsl(192, 70%, 51%), hsl(136, 65%, 51%));
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-request {
    color: var(--white);
    background-image: linear-gradient(hsl(192, 70%, 51%), hsl(136, 65%, 51%));
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .phone-img {
    /* width: 100%; */
    margin-top: -170px;
    margin-right: -130px;
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* section 2 content */

  .section-2-content {
    background-color: var(--light-grayish-blue);
    padding-left: 100px;
  }

  /* .main-heading {
  } */

  .outer-container {
    display: flex;
    /* padding-left: 10px; */
    padding-bottom: 70px;
  }

  .section2-innercontainer {
    display: flex;
    flex-direction: column;
  }


  .section2-mainheading {
    padding-top: 80px;
  }

  .container-img {
    width: 20%;
    padding-bottom: 50px;
  }

  .content-heading {
    font-size: 20px;
    padding-bottom: 30px;
  }

  .content {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 50px;
    color: var(--grayish-blue);
    width: 50%;
  }

  /* section3 */

  .section-3 {
    background-color: var(--very-light-gray);
    /* display: flex; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-3-heading {
    font-size: 30px;
    margin-top: 50px;
    padding-bottom: 60px;
  }

  .section3-heading1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    color: var(--grayish-blue);
  }

  .section3-heading2 {
    font-size: 15px;
    padding-bottom: 10px;
  }

  .section3-content {
    font-size: 15px;
    color: var(--grayish-blue);
    padding-bottom: 10px;
    line-height: 20px;
  }

  .section3-img {
    width: 100%;
    height: 200px;
  }

  .section3-outer {
    display: flex;
  }

  .section3-innercontainers {
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    overflow: hidden;
  }

  /* footer section */

  .footer-section {
    background-color: var(--dark-blue);
    height: 30vh;
    padding-top: 70px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo-container {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    background-color: var(--white);
  }

  .social-handles {
    /* margin-top: 3rem; */
    padding-top: 50px;
  }

  .footer-menu {
    display: flex;
    flex-direction: column;
  }

  .footer-menu > a {
    text-decoration: none;
    color: var(--white);
    margin-bottom: 15px;
    font-weight: 400;
  }

  .footer-menu {
    padding-right: 70px;
  }

  .footer-btn {
    width: 50%;
    margin-bottom: 35px;
  }
  .footer-request-btn {
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-btn {
    color: var(--white);
    background-image: linear-gradient(hsl(192, 70%, 51%), hsl(136, 65%, 51%));
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .social-handles > .footer-icon {
    margin-left: 10px;
    cursor: pointer;
  }

  .footer-copyright {
    padding-right: 50px;
    /* margin-bottom: 30px; */
    /* padding-bottom: 100px; */
  }

  .footer-copyrightcontent {
    text-align: end;
    color: var(--very-light-gray);
    /* padding-bottom: 50px; */
    /* margin-bottom: 70px; */
  }

  .footer-menu-container {
    display: flex;
  }
}
